// ==============
// Variables
// ==============
$base-font-size: 1rem;
$spacing: 0.2rem;

$card-height: 6rem;
$card-min-width: 10rem;

$nav-height: 4rem;

// ==============
// Globals
// ==============
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

html {
  touch-action: manipulation;
  font-family: 'Roboto', sans-serif;
  font-size: $base-font-size;
  padding-top: $nav-height;
}

button {
  border: 0;
  padding: 2 * $spacing;
  outline: none;

  &:active,
  &:focus {
    font-weight: bold;
  }
}

input {
  width: 100%;
}

h1 {
  padding: $spacing;
  text-align: center;
  font-size: 1.1rem;
}

.green {
  color: green;
}
.red {
  color: red;
}
.grey {
  color: lightgrey;
}
.dim {
  opacity: 0.3;
}

// ==============
// Row
// ==============
.row {
  display: flex;
  white-space: nowrap;
  padding: $spacing;

  > * + * {
    margin-left: 3 * $spacing;
  }

  .row--title {
    font-weight: bold;
  }

  .row--subtitle {
    font-weight: normal;
    font-style: italic;
    font-size: 0.7rem;
  }

  .row--actions {
    padding: 0;
    display: flex;

    button {
      padding-left: 0;
      padding-right: 0;
    }

    > * + * {
      margin-left: 2 * $spacing;
    }
  }
}

.player-row,
.card-row {
  height: $card-height;

  .row--detail {
    min-width: 0;
  }

  .row--title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .row--subtitle {
    white-space: pre-wrap;
  }
}

// ==============
// Tabs
// ==============
.tabs {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  height: $nav-height;
  line-height: $nav-height;

  .active {
    font-style: italic;
  }

  :disabled {
    color: lightgray;
  }

  > * {
    flex: 1 1 auto;
    text-align: center;
  }
}

.tabs.navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid black;
}

.tabs.actions {
  border-top: 1px solid black;
  margin-top: auto;
}

// ==============
// Grids
// ==============
.grid {
  display: grid;
  grid-gap: $spacing;
  grid-template-columns: repeat(auto-fill, minmax($card-min-width, 1fr));
  align-items: start;
}

// ==============
// Prompt
// ==============
.prompt {
  padding: 4 * $spacing 0 4 * $spacing;
  margin-bottom: 4 * $spacing;
  border-bottom: 1px solid black;
}

.input-container {
  padding: 5 * $spacing;
}

.content {
  display: flex;
  flex-flow: column;
  height: 100%;
  > * {
    flex: 0 0 auto;
  }
}
