// ==============
// Variables
// ==============
$base-font-size: 1rem;
$spacing: 0.2rem;

$card-height: 5rem;
$card-min-width: 6rem;

$nav-height: 3.5rem;

// ==============
// Globals
// ==============
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

html {
  touch-action: manipulation;
  font-family: 'Roboto', sans-serif;
  font-size: $base-font-size;
  padding-top: $nav-height;
}

button {
  border: 0;
  padding: 2 * $spacing;
  outline: none;

  &:active,
  &:focus {
    font-weight: bold;
  }
}

input:not([type='checkbox']) {
  width: 100%;
}

h1 {
  padding: $spacing;
  text-align: center;
  font-size: 1rem;
}
h2 {
  font-weight: bold;
}
h3 {
  font-weight: normal;
  font-style: italic;
  font-size: 0.7rem;
}
ul {
  margin-left: 2 * $spacing;
}

.green {
  color: green;
}
.red {
  color: red;
}
.grey {
  color: lightgrey;
}
.dim {
  opacity: 0.3;
}

// ==============
// Row
// ==============
.row {
  display: flex;
  white-space: nowrap;
  padding: $spacing;

  > * + * {
    margin-left: 3 * $spacing;
  }
}

.actions {
  padding: 0;
  display: flex;
  overflow: hidden;
  min-width: 0;
  white-space: nowrap;

  text-overflow: ellipsis;
  button {
    padding-left: 0;
    padding-right: 0;
    margin-right: 2 * $spacing;
  }
}

.player,
.card {
  min-height: $card-height;

  h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h3 {
    white-space: pre-wrap;
  }
  .actions {
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    button {
      padding: 0;
    }
  }
}

// ==============
// Tabs
// ==============
.tabs {
  overflow-x: auto;
  display: flex;
  -webkit-overflow-scrolling: touch;
  line-height: $nav-height;

  .active {
    font-style: italic;
  }

  :disabled {
    color: lightgray;
  }

  > * {
    flex: 1 0 auto;
    text-align: center;
  }
}

.tabs.navigation {
  height: $nav-height;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;
  border-bottom: 1px solid black;
}

.tabs.actions {
  height: $nav-height;
  border-top: 1px solid black;
  margin-top: auto;
}

.tabs.stats {
  border-bottom: none;
}

// ==============
// Grids
// ==============
.grid {
  display: grid;

  $grid-spacing: $spacing;
  grid-gap: $grid-spacing;
  padding: $grid-spacing;

  grid-template-columns: repeat(auto-fill, minmax($card-min-width, 1fr));
  align-items: start;
}

// ==============
// Prompt
// ==============
.prompt {
  border-bottom: 1px solid black;
}

.input-container {
  padding: 5 * $spacing;
  display: flex;
  white-space: nowrap;
  align-items: center;

  label {
    margin-right: 2 * $spacing;
  }
}

.content {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
  > * {
    flex: 0 0 auto;
  }
}

.night-kills {
  text-align: center;
  margin: 2 * $spacing;
}

.timer,
.timer-completed {
  height: 2px;
  display: block;
  position: absolute;
  bottom: 0;
  z-index: 100;

  &.timer-completed {
    background-color: black;
    right: 0;
  }
  &.timer {
    background-color: red;
    left: 0;
  }
}
